{% extends 'base.html.twig' %}

{% block body %}

<article> 

<h2> {{article.title}} </h2> 

<div class="metadata" > {{article.createdAt | date('d/m/Y')}} a  {{article.createdAt | date('H:m')}}  Dans {{article.category.title}} </div> 
<div class="content"> 

<img src=" {{article.image}}" alt=" " > 

<hr>
 {{article.content | raw}}
 </hr> 
</div> 

</article>
<section id="commentaire">
<h1> {{article.comments | length }} Commentaires : </h1>
{%for comment in article.comments %} 

<div class="comment"> 
<div class="row" > 
<div class="col-3"> 
{{comment.author}} (<small> {{comment.createdAt | date('d/m/Y a H:i') }} </small>)

</div>

<div class="col" > 
{{comment.content |raw }}
</div>


</div>
</div>

{%endfor %}

{{form_start(formComment)}}

{{form_row(formComment.author , {'attr':{'placeholder':'Votre nom'} })}}

{{form_row(formComment.content, {'attr':{'placeholder':'Votre Commentaire'} })}}


{{form_row(formComment.content, {'attr':{'placeholder':'Votre Commentaire'} })}}

  <div class ="form-group" > 
 <button type="submit" class="btn btn-success"> Comment </button> 

  </div>

{{form_end(formComment)}}







</section>


{% endblock %}
